<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">
  
  <extensions>
    <add assembly="NLog.AzureAppendBlob.Standard"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">

    <target xsi:type="AzureAppendBlob" name="azure" layout="${longdate} ${uppercase:${level}} - ${message}"  connectionString="YourConnectionString" container="YourContainer" blobName="logs/${shortdate}.log" forceCheck="false" />

    <!-- write logs to file -->
    <!--<target xsi:type="File" name="allfile" fileName="${basedir}/logs/${shortdate}/${shortdate}.log" layout="${longdate} ${uppercase:${level}} | ${message} | ${exception}" />-->

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="azure"/>

    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

  </rules>

</nlog>